body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #89acf2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: rgb(136, 126, 211);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: hwb(233 9% 88%);
}

.poll {
    margin: 20px 0;
}

.poll p {
    font-weight: bold;
    margin-bottom: 10px;
}

.option {
    display:flex;
    align-items: center;
    background: #f8f9fa;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
}

.option:hover {
    background: #e0e0e0;
}

.option input[type="radio"] {
    display: none;
}

.circle {
    height: 20px;
    width: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    transition: background 0.3s, border 0.3s;
    position: relative;
}

.option input[type="radio"]:checked + .circle {
    background: green;
    border-color: green;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border:#333;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #45a049;
}
canvas {
    max-width: 200px;   /* maximum width */
    max-height: 200px;  /* maximum height */
    margin: 20px auto;  /* center the chart */
    display: block;
}
@media (max-width: 600px) {
  .poll-card {
    width: 95%;
    padding: 15px;
  }
  button {
    width: 100%;
  }
}
